[Unit]
Description=CapsuleFarmerEvolved
After=network.target

[Service]
ExecStart=/usr/bin/capsule-farmer-evolved
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CapsuleFarmerEvolved
User=root
Group=root
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target