[Unit]
Description=CapsuleFarmerEvolved
After=network.target

[Service]
ExecStart=/usr/bin/capsule-farmer-evolved
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target